:root {
    --flow: 1rem;

    --clr-text: #050315;
    --clr-background: #fbfbfe;
    --clr-primary: #2f27ce;
    --clr-secondary: #dedcff;
    --clr-accent: #433bff;
}

/****************************** RESET CSS *******************************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100svh;
}

h1, h2, h3 {
    line-height: 1.2;
    text-wrap: balance;
}

p, span, li {
    max-width: 65ch;
    text-wrap: pretty;
}

ul {
    list-style-type: none;
}

img, video, picture, svg {
    display: block;
    max-width: 100%;
    border-radius: 1em;
}

a {
    text-decoration: none;
    color: var(--clr-text);
}

button, input, textarea, select {
    border: none;
    outline: none;
    font: inherit;
    background: none;
}
/****************************** RESET CSS *******************************/


/****************************** REUSABLE CSS *******************************/
    /****************************** STRUCTURE *******************************/
    .flow > * + * {
        margin-top: var(--flow);
    }

    .flow-xl > * + * {
        margin-top: calc(var(--flow) * 10);
    }

    .flow-lg > * + * {
        margin-top: calc(var(--flow) * 2);
    }

    .flow-sm > * + * {
        margin-top: calc(var(--flow) / 2);
    }

    .flow > *,
    .flow-lg > *,
    .flow-sm > *,
    .flow-xl > * {
        display: block;
    }
    /****************************** STRUCTURE *******************************/


    /****************************** TYPOGRAPHY *******************************/
    .text-xl {
        font-size: 3rem;
    }

    .text-lg {
        font-size: 2rem;
    }

    .text-md {
        font-size: 1.5rem;
    }

    .text {
        font-size: 1rem;
    }

    .text-sm {
        font-size: 0.875rem;
    }

    .text-xs {
        font-size: 0.75rem;
    }

    .text-center {
        text-align: center;
        margin-inline: auto;
    }
    /****************************** TYPOGRAPHY *******************************/

    /****************************** UTILITIES *******************************/
    .button {
        cursor: pointer;
        padding: 1rem 1.5rem;
        border-radius: .5rem;
        color: var(--clr-background);
        background: var(--clr-primary);
    }

    .button:hover {
        scale: 1.1;
        background: var(--clr-accent);
        box-shadow: 0 0 5px 0px var(--clr-secondary);
    }

    .link {
        cursor: pointer;
        color: var(--clr-text);
    }

    .link:hover {
        scale: 1.2;
        transform-origin: left;
        color: var(--clr-accent);
    }    

    .bx {
        font-size: 1.5rem;
    }
    /****************************** UTILITIES *******************************/

/****************************** REUSABLE CSS *******************************/


/****************************** APP *******************************/
#app {
    display: grid;
    grid-template-columns: 1fr min(1000px, 100% - 3rem) 1fr;
}

#app > * {
    grid-column: 2 / 3;
}

section {
    margin-block: 10rem;
}
/****************************** APP *******************************/


/****************************** HOME *******************************/
.hero-section {
    gap: 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
}
/****************************** HOME *******************************/


/****************************** PRODUCT *******************************/
.product-list {
    gap: 3rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.product {
    padding: 1.5rem;
    position: relative;
    border-radius: 1rem;
    background-color: rgb(226, 247, 253);

    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.product-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product-info div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.product-name {
    width: 100%;
    color: white;
    inset: 0 0 auto;
    position: absolute;
    text-align: center;
    background: black;
    padding-block: .5rem;
    
    scale: 1 0;
    transform-origin: top;
    transition: scale 300ms ease;
}


.product:hover .product-name {
    scale: 1 1;
}

.old-price {
    text-decoration: line-through;
}
/****************************** PRODUCT *******************************/


/****************************** COLLECTION *******************************/
.collection-grid {
    gap: 3rem;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
}

.kids-collection {
    grid-row: span 2;
}

.kids-collection img {
    height: 100%;
}

.kids-collection,
.women-collection,
.men-collection,
.shoes-collection,
.shirts-collection {
    display: grid;
    grid-template-areas: "stacking";

    > * {
        grid-area: stacking;
    }
}

.shadow {
    z-index: 0;
    scale: 1 0;
    width: 100%;
    opacity: 0.3;
    height: 100%;
    transform-origin: bottom;
    background-color: black;
    transition: scale 300ms ease;
}

.view-collection {
    z-index: 1;
    scale: 1 0;
    display: grid;
    place-items: center;
    transform-origin: bottom;
    transition: scale 300ms ease;
}

.kids-collection:hover :is(.shadow, .view-collection),
.women-collection:hover :is(.shadow, .view-collection),
.men-collection:hover :is(.shadow, .view-collection),
.shoes-collection:hover :is(.shadow, .view-collection),
.shirts-collection:hover :is(.shadow, .view-collection) {
    scale: 1 1;
}
/****************************** COLLECTION *******************************/


/****************************** PROMO *******************************/
.promo-section {
    display: flex;
    row-gap: 2rem;
    align-items: center;
    flex-direction: column;

    padding: 5rem;
    border-radius: 1rem;
    background-color: #eee;
}
/****************************** PROMO *******************************/


/****************************** SUSCRIBE *******************************/
.suscribe-section {
    gap: 5rem;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    
    padding: 5rem;
    color: white;
    border-radius: 1rem;
    background-color: #050315;
}

.suscribe-form {
    display: flex;
    justify-content: space-between;

    padding: .75rem;
    border-radius: .5rem;
    background-color: white;
}
/****************************** SUSCRIBE *******************************/



/****************************** FOOTER *******************************/
.footer {
    gap: 5rem;
    display: grid;
    padding-block: 5rem;
    grid-template-columns: repeat(5, 1fr);
}

.footer .main {
    grid-column: span 2;
}
/****************************** FOOTER *******************************/
